/* Style pour le footer */
/*footer {*/

/*    color: white;*/
/*    text-align: center;*/
/*    padding: 20px;*/
/*    background-size: cover;*/
/*    background-repeat: no-repeat;*/
/*    background-position: center center;*/
/*}*/

/*.logo {*/
/*    text-align: center;*/
/*}*/

/*.logo img {*/
/*    display: inline-block;*/
/*}*/

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    left: 0;
    height: 50px;
    margin-top: 100px;
}
footer ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    border: 1px solid #fff; /* Ajouter une bordure blanche */
    border-radius: 10px; /* Ajouter un arrondi aux coins */
}


footer p {
    text-align: center;
}

footer ul li {
    margin-right: 10px;
}

footer p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #f1f1f1;
}

/*.links {*/
/*    display: flex;*/
/*    justify-content: flex-end;*/
/*    align-items: center;*/
/*    margin-right: 20px;*/
/*}*/

/*.links a {*/
/*    margin-left: 10px;*/
/*    color: #f1f1f1;*/
/*    text-decoration: none;*/
/*    border: 1px solid #f1f1f1;*/
/*    border-radius: 10px*/
/*}*/

/*.links a:hover {*/
/*    color: #f1f1f1;*/
/*}*/

footer ul li a {
    display: block;
}

footer ul li a img {
    height: 20px;
    width: 20px;
}

@media screen and (max-width: 768px) {
    footer {
        flex-direction: column;
        justify-content: center;
        height: auto;
        padding: 20px;
    }

    .social-media {
        margin: 0 0 10px 0;
    }

    .footer-content {
        margin: 10px 0 0 0;
    }
}
