{% extends 'layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/pages/Home/apropos.css">
{% endblock %}

{% block title %}A propos{%endblock %}

{% block content %}

    <div class="contenent-apropos">
        <div class="box1">
            <img src="assets/images/pages/apropos/apropos.gif">
        </div>
        <div class="box2">
            <h1>A propos de
                Digital Consulting</h1>
        </div>
        <div class="box3">
            <p>Digital Consulting est une plateforme dédiée aux meilleurs indépendants du monde de la Tech. Développeurs, Graphistes, Community Managers, Consultants Marketing digital...Les PDG, les directeurs techniques et les responsables de l'ingénierie logicielle des meilleures entreprises et start-ups travaillent avec les indépendants de Digital Consulting pour renforcer leurs équipes. Tous nos Freelanceurs sont disponibles pour répondre à vos besoins commerciaux.</p>
        </div>
    </div>

{% endblock %}




