.contenent-profil{
    --background-button : #2c1e4a;
    --border-button : #d73cbe;
    --taille-button : 20px;

    font-family: Lastica, sans-serif;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, auto);
    grid-auto-flow: column;
    grid-column-gap: 20px;
}

.grid-container, input{
    padding: 10px;
    margin: 10px;
    border-radius: 2rem;
}

.button{
    font-family: Lastica, sans-serif;
    background: #336899;
    border: black;
    padding: 20px;
}

/* avant avoir cliqué */
input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    border-radius: 50%;
    width: var(--taille-button);
    height: var(--taille-button);

    border: 2px solid var(--border-button);
    background: var(--background-button);
}

/* apres avoir cliqué */
input[type="radio"]:checked,
input[type="radio"]::before {
    background-image: url(/assets/images/pages/signin/valited_icon.png) ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.genre{
    display: flex;
    justify-content: center;
    align-items: center;

}

.errors{
    font-family: AnonymousPro;
}
