<link rel="stylesheet" href="/assets/css/pages/Annonce/withcards.css">

<div class="card-container">
    {% for myAnnonce in myAnnonces %}

{#                                                   autrePage : ici#}
        {% include 'component/_card.html.twig' with { annonce: myAnnonce, services: services } %}
    {% endfor %}
</div>
