
<head>
    <link rel="stylesheet" href="/assets/css/component/_footer.css">
</head>

<footer class="footer">
    <ul>
        <a href="https://www.facebook.com/"><img src="/assets/images/component/footer/facebooklogo.png" alt="facebook"></a>
        <a href="https://www.instagram.com/"><img src="/assets/images/component/footer/instagramlogo.png" alt="instagram"></a>
        <a href="https://www.pinterest.com/"><img src="/assets/images/component/footer/pinterestlogo.png" alt="pinterest"></a>
        <a href="https://www.twitter.com/"><img src= "/assets/images/component/footer/twitterlogo.png" alt="twitter"></a>
    </ul>
    <p>Droit d'auteur © 2023, Digital Consulting</p>
    <div class="footer-content">
    <div class="links">
{#        <a href="#">Contact</a><br>#}
        <a class="luminescent" href="/apropos">A propos</a>
    </div>
    </div>
</footer>
