<head>
    <link rel="stylesheet" href="/assets/css/component/_header.css">
    <link rel="stylesheet" href="/assets/css/component/_headerVisitor.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="assets/js/main.js"></script>
</head>

<header>
    <div class="menu-principal">
        <div class="image-logo">
            <a href="/">
                <img class="photo-logo" src="/assets/images/component/header/logo_transparent.png" alt="Logo transparent">
            </a>
        </div>
        <div class="login">
            <a href="/signin">
                <button class="button-luminescent">S'inscrire</button>
            </a>
            <a href="/login">
                <button class="button-luminescent">Se connecter</button>
            </a>
        </div>
    </div>
</header>
